<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Etüt_Projesi.Properties.Settings.Ogrenci_EtütConnectionString"
            connectionString="Data Source=DESKTOP-M8U6A74;Initial Catalog=&quot;Ogrenci Etüt&quot;;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>